<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315338138008-bqqhipne64g59spvqefh7aifmq5vqi6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315338138008-bqqhipne64g59spvqefh7aifmq5vqi6s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>315338138008-pgftrru7qkm87sgi5vqr2g7sltq5m37u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBWJQ3Q4Zeq7Z7uAUEqrdIKqK9mPUuNIDI</string>
	<key>GCM_SENDER_ID</key>
	<string>315338138008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookNow</string>
	<key>PROJECT_ID</key>
	<string>bookdomain-d23d7</string>
	<key>STORAGE_BUCKET</key>
	<string>bookdomain-d23d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315338138008:ios:606ba0debb53ffe85b0bed</string>
</dict>
</plist>